<h4>Accounts</h4>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Balance</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="account in accounts">

      <td ng-hide="account.editing">{{ account.name }}</td>
      <td ng-show="account.editing">
        <input type="text" ng-model="account.name" value="{{ account.name }}">
      </td>

      <td ng-hide="account.editing">{{ account.balance | currency }}</td>
      <td ng-show="account.editing">
        <input type="number" ng-model="account.balance" value="{{ account.balance }}" />
      </td>

      <td>
        <button class="btn btn-default btn-sm" ng-hide="account.editing" ng-click="toggleEdit(account)">
          <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
        <button class="btn btn-success btn-sm" ng-show="account.editing" ng-click="toggleEdit(account)">
          <span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
        </button>
        <button class="btn btn-danger btn-sm" ng-click="removeAccount(account)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
      </td>

    </tr>
    <tr>
      <td>
        <input class="form-control" type="text" ng-model="newAccount.name">
      </td>
      <td>
        <input class="form-control" type="number" step="any" ng-model="newAccount.balance">
      </td>
      <td>
        <button class="btn btn-primary" ng-click="addAccount()">Add Account</button>
      </td>
    </tr>
  </tbody>
</table>
